@page "/positions"
@inject IPositionService PositionService
@inject NavigationManager NavigationManager



<h1>Positions</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in PositionService.Positions) {
            <tr>
                <td>
                @item.Name
                </td>
            <td>
                <button class="btn btn-primary"
                        @onclick="(() => ShowPosition(item.Id))">
                        <i class="oi oi-pencil"></i>
                 </button>
            </td>
        </tr>
}
    </tbody>
</table>
<button class="btn btn-primary" @onclick="CreateNewPosition">Create New Position</button>



@code {
    protected override async Task OnInitializedAsync()
    {
        await PositionService.LoadObjects();
    }

    void ShowPosition(int id)
    {
        NavigationManager.NavigateTo($"position/{id}");
    }

    void CreateNewPosition()
    {
        NavigationManager.NavigateTo("position");
    }
 }
