@page
@model Lab5.Pages.UniversityTeacherPages.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>UniversityTeacher</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UniversityTeacher.FirstName" class="control-label"></label>
                <input asp-for="UniversityTeacher.FirstName" class="form-control" />
                <span asp-validation-for="UniversityTeacher.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UniversityTeacher.LastName" class="control-label"></label>
                <input asp-for="UniversityTeacher.LastName" class="form-control" />
                <span asp-validation-for="UniversityTeacher.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UniversityTeacher.PatronymicName" class="control-label"></label>
                <input asp-for="UniversityTeacher.PatronymicName" class="form-control" />
                <span asp-validation-for="UniversityTeacher.PatronymicName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UniversityTeacher.WorkPlace" class="control-label"></label>
                <select asp-for="UniversityTeacher.WorkPlace" class ="form-control" asp-items="ViewBag.WorkPlace"></select>
            </div>
            <div class="form-group">
                <label asp-for="UniversityTeacher.PositionName" class="control-label"></label>
                <select asp-for="UniversityTeacher.PositionName" class ="form-control" asp-items="ViewBag.PositionName"></select>
            </div>
            <div class="form-group">
                <label asp-for="UniversityTeacher.FirstSubjectName" class="control-label"></label>
                <select asp-for="UniversityTeacher.FirstSubjectName" class ="form-control" asp-items="ViewBag.FirstSubjectName"></select>
            </div>
            <div class="form-group">
                <label asp-for="UniversityTeacher.SecondSubjectName" class="control-label"></label>
                <select asp-for="UniversityTeacher.SecondSubjectName" class ="form-control" asp-items="ViewBag.SecondSubjectName"></select>
            </div>
            <div class="form-group">
                <label asp-for="UniversityTeacher.PositionHourlyRate" class="control-label"></label>
                <input asp-for="UniversityTeacher.PositionHourlyRate" class="form-control" />
                <span asp-validation-for="UniversityTeacher.PositionHourlyRate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UniversityTeacher.CountReadHours" class="control-label"></label>
                <input asp-for="UniversityTeacher.CountReadHours" class="form-control" />
                <span asp-validation-for="UniversityTeacher.CountReadHours" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UniversityTeacher.HomeAddress" class="control-label"></label>
                <input asp-for="UniversityTeacher.HomeAddress" class="form-control" />
                <span asp-validation-for="UniversityTeacher.HomeAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UniversityTeacher.Characteristics" class="control-label"></label>
                <input asp-for="UniversityTeacher.Characteristics" class="form-control" />
                <span asp-validation-for="UniversityTeacher.Characteristics" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
